<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">


    <title>{% block title %} Online Store La Modda {% endblock %}</title>
    <link type="text/css"
          href="{{ url_for('static', filename='css/style.css')}}"
          rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="top">
    <header>
        <div class="logo_group">
            <img src="{{ url_for('static', filename='images/logo_main_1.svg')}}"
                 alt="main_logo" class="logo_image">
        </div>
        <div class="header_menu">
            {% for page in menu %}
            {% if page.url == cur_url %}
            <a class="header_link_selection" href="{{ page.url }}">{{
                page.title
                }}</a>
            {% else %}
            <a class="header_link" href="{{ page.url }}">{{ page.title }}</a>
            {% endif %}
            {% endfor %}
            <button class="order">Заказать</button>
        </div>
    </header>
</div>

{% block content %}
Страница не заполнена
{% endblock %}

<footer>
    <p class="footer_text">
        Copyright © La Modda 2024. All Rights Reserved.
    </p>
</footer>
</body>
</html>