{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="top">
        <div class="top_content">
            <div class="top_text">
                <h1 class="top_title">
                    Открой свой идеальный образ
                </h1>
                <p class="top_info">
                    Мы предлагаем широкий ассортимент модной одежды, которая
                    сочетает в себе классику и актуальные тренды. Наши коллекции
                    помогут вам выразить свою индивидуальность.
                </p>
                <div class="top_buttons">
                    <button class="start_button">Коллекция</button>
                    <div class="watch_video">
                        <img src="/static/images/icon_watch_video.svg"
                             alt="icon_watch_video">
                        <p class="watch_video_text">Посмотреть видео</p>
                    </div>

                </div>
            </div>

            <div class="top_image">
                <img src="/static/images/top.png" alt="top_image" class="picture">
            </div>

        </div>
        <div class="top_logos">
            <img src="/static/images/logo_1.png" alt="logo_1">
            <img src="/static/images/logo_2.png" alt="logo_2">
            <img src="/static/images/logo_3.png" alt="logo_3">
            <img src="/static/images/logo_4.png" alt="logo_4">
            <img src="/static/images/logo_5.png" alt="logo_5">
            <img src="/static/images/logo_1.png" alt="logo_6">
        </div>
    </div>

    <div class="about_us">
        <div class="about_us_image">
            <img src="/static/images/about_us.png" alt="graphic" class="picture">
        </div>
        <div class="about_us_content">
            <h2 class="about_us_title">
                Ваше идеальное место для покупки одежды
            </h2>
            <p class="about_us_text">
                Откройте для себя последние тренды и вечную классику в
                нашем интернет-магазине. Независимо от того, ищете ли вы
                стильную повседневную одежду, изысканные вечерние наряды или
                удобную домашнюю одежду, у нас есть все, что вам нужно.
            </p>
            <button class="learn_more">Узнать больше</button>
        </div>
    </div>

    <div class="features">
        <div class="features_01">
            <img class="features_image" src="/static/images/icon_1.svg"
                 alt="growth">
            <h5 class="features_title">Высокое качество</h5>
            <p class="features_text">
                Мы предлагаем только качественные изделия от проверенных
                производителей, чтобы вы могли чувствовать себя уверенно и
                комфортно в любой ситуации.
            </p>
            <div class="features_link">
                <a href="#">Подробнее...</a>
            </div>
        </div>
        <div class="features_02">
            <img class="features_image" src="/static/images/icon_2.svg"
                 alt="leads">
            <h5 class="features_title">Доступные цены</h5>
            <p class="features_text">
                Мы стремимся сделать моду доступной для всех, предлагая
                конкурентоспособные цены и регулярные скидки.
            </p>
            <div class="features_link">
                <a href="#">Подробнее...</a>
            </div>
        </div>
        <div class="features_01">
            <img class="features_image" src="/static/images/icon_3.svg"
                 alt="sales">
            <h5 class="features_title">Отличное обслуживание</h5>
            <p class="features_text">
                Наша команда поддержки всегда готова помочь вам с любыми вопросами
                и обеспечить лучший сервис.
            </p>
            <div class="features_link">
                <a href="#">Подробнее...</a>
            </div>
        </div>
    </div>>
{% endblock %}